<html>
<body>

<p>Thank you for registering to the MarsBase.</p>
<p>Please click<strong><a href="${url}/confirmregister?t=${token}"> here </a></strong>to verify your email.</p>

</body>
</html>