.navbar {
	background-color: #535664;
	border-color: #535664;
}

.navbar>.container>div>.navbar-nav>li>a {
	background: none;
	color: #ff8040;
	front-weight: bold;
}

.navbar>.container>div>.navbar-nav>li>a:hover {
	background: none;
	color: #d1d1d1;
	front-weight: bold;
}

.navbar>.container>.navbar-header>a {
	background: none;
	color: #ff8040;
	c
}

.navbar>.container>.navbar-header>a:hover {
	background: none;
	color: #ff8040;
	front-weight: bold;
}

.navbar-default .navbar-nav>.open>a {
	background: none;
	color: #ff8040;
}

.navbar-default .navbar-nav>.open>a:focus {
	background-color: #535664;
	color: #ff8040;
}

.panel>.panel-heading {
	background-color: #535664;
	border-color: #535664;
	color: #ff8040;
}

textarea {
	width: 100%;
}

.errors {
	color: #ff0000;
	front-weight: bold;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #535664;
	front-weight: bold;
}

.homepage-status {
	text-align: center;
	margin-top: 30px;
	front-size: larger;
}

.edit-link {
	margin-top: 13px;
}